
:root {
    --accent-color: #2196F3;
    --main-text-cl: #757575;
    --title-cl: #212121;
    --main-bgc: #E5E5E5;
    --secondary-bgc: #F5F4FA;
    --header-cl: #212121;
    --card-cl: #FFFFFF;
    --icon-team-cl: #AFB1B8
}