.logo {
    box-sizing: border-box;
    width: 145px;
}

.logo__web {
    color: #2196F3;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
}

.logo__studio {

    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
}

.logo__studio--dark {
    color: #212121;
}

.logo__studio--sweet {
    color: #FFFFFF;
}
