

.projects-filter {
    @include device-type (mobile-only) {
        margin-bottom: 25px;
    }
    @include device-type (tablet-only) {
        margin-bottom: 30px;
    }
    margin-bottom: 50px;
}

.projects-btn-list {
    display: flex;
    flex-wrap: wrap;
    @include device-type (tablet) {
        justify-content: center;
    }
    
}

.project-filter-btn {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background-color: #F5F4FA;
    color: #212121;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    border-width: 0px;
    letter-spacing: 0.06em;
    border-width: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

}
}

.projects-btn__item {
    @include device-type (mobile-only) {
        margin-bottom: 15px;
    }
    margin-right: 8px;

&:last-child {
    margin-right: 0;
}
}