body {
    color: var(--main-text-cl);
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0;

    
}

img {
    display: block;
    max-width: 100%; 
    height: auto;
}

.image {
    display: block;
    max-width: 100%;

    height: auto;
}

.link {
    text-decoration: none;

}

.list-decor {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section {
   
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    @include device-type (mobile-only) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include device-type (mobile) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include device-type (tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include device-type (desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
    
}