/* Футер */
.footer {
    align-items: baseline;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-box {
     @include device-type (mobile-only) {
        display: flex;
        flex-direction: column;
        
        text-align: center;
    }

    @include device-type (tablet-only) {
        
    }
    @include device-type (desktop) {
    display: flex;
    align-items: flex-start;
    
    }
}

.footer-box-position {
    @include device-type (tablet-only) {
        display: flex;
        margin-left: 61px;
    }
    @include device-type (desktop) {
        display: flex;
    }
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
    @include device-type (tablet-only) {
        margin-left: 39px;
    }
    
}

.footer-сontact {
   
    @include device-type (mobile-only) {
        
    }
}

.footer--position {
    @include device-type (tablet-only) {
        margin-right: 165px;
        margin-bottom: 60px;
    }
}

.footer-contact__link {
    
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
    color: var(--accent-color);
}

}

.footer__email--position {
    @include device-type (mobile-only) {
    margin-top: 8px;
    margin-bottom: 8px;
    }

    @include device-type (tablet-only) {
    margin-top: 8px;
    margin-bottom: 8px;
    }
    @include device-type (desktop) {
    margin-top: 9px;
    margin-bottom: 9px;
    }
}

.footer__address a {
    color: #FFFFFF;
}


.footer-join {
    @include device-type (desktop) {
    margin-left: 70px;
    }

    @include device-type (mobile-only) {

        margin-top: 60px;
        margin-bottom: 60px;
        
    
}
}

.footer-join__title {
    @include device-type (tablet-only) {
        text-align: center;
    }
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--card-cl);

    padding-bottom: 20px;
}

.footer-join-icon-list {
    display: flex;
    width: 206px;
    height: 44px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

}

.footer-join-icon-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    ;
    border-radius: 50%;
    letter-spacing: 0.06em;
    border-width: 0;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus, &:hover {
    background-color: var(--accent-color);

}

}

.footer-join__icon {

    width: 20px;
    height: 20px;

    fill: var(--card-cl);

}

.footer-mailing {
    @include device-type (desktop) {

    margin-left: auto;
    }

    @include device-type (tablet-only) {

    }
    
}

.footer-mailing__title {
    @include device-type (tablet-only) {
        text-align: center;
    }
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--card-cl);

    margin-bottom: 20px;

}

.footer-mailing__input {

    display: flex;
    @include device-type (mobile-only) {
        flex-direction: column;
        
    }

    @include device-type (tablet-only) {
        flex-direction: column;
        text-align: center;
    }

}

.footer-mailing__email {
    @include device-type (mobile-only) {
        min-width: 450px;
        margin-bottom: 20px;
        
    }

    @include device-type (tablet-only) {
        width: 450px;
        margin-bottom: 20px;
    }

    @include device-type (desktop) {
        width: 358px;
        margin-right: 12px;

    }
    
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;

    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    
    padding-left: 16px;

}

.footer-mailing-btn {
    @include device-type (mobile-only) {
        margin-left: auto;
        margin-right: auto;
    }

    @include device-type (tablet-only) {
        margin-left: auto;
        margin-right: auto;
    }
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;


    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    border: none;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;

&::after {
    content: "";
    background-image: url(../images/icon/icon-send.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}
}

