/*  HERO */

.hero {
    @include device-type (mobile-only) { 
    background-size: cover;
    max-height: 400px;
    min-width: 320px;
    max-width: 480px;  

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/hero/hero-m.jpg);

    @include device-type (retina) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/hero/hero-m@2x.jpg);
        }
    }

    @include device-type (tablet) {
    background-size: cover;
    max-height: 400px;
    max-width: 1200px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),    
    rgba(47, 48, 58, 0.4)), url(../images/hero/hero-t.jpg);
    @include device-type (retina) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/hero/hero-t@2x.jpg);
    }
}
    @include device-type (desktop) {
    background-size: cover;
    max-height: 600px;
    max-width: 1600px;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/hero/hero-d.jpg);
    @include device-type (retina){
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/hero/hero-d@2x.jpg);
    
    }
}

    background-color: #C4C4C4;
    

    margin-left: auto;
    margin-right: auto;
    text-align: center;


    background-repeat: no-repeat;
    background-position: center;
    

}

.hero__title {

    @include device-type (mobile) {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
    }
    @include device-type (tablet) {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
    }
    @include device-type (desktop) {
    line-height: 1.36;
    font-size: 44px;
    width: 696px;
    }

    color: #FFFFFF;
    font-weight: 900;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    margin-bottom: 30px;

}

.hero-position {
    @include device-type (not-desktop) {
        padding-top: 118px;
        padding-bottom: 118px;
    }

    padding-top: 200px;
    padding-bottom: 200px;
}