/* Наша команда */

.team {
    background-color: var(--secondary-bgc);
    width: 100%;
    
}

.team__title {
    @include device-type (desktop) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    }
    color: var(--title-cl);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 30px;
}

.team-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
}

.team__card {

    @include device-type (mobile-only) {
    flex-basis: calc((100% - 0px) / 1);
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    }

    @include device-type (tablet-only) {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }
    
    }

    @include device-type (desktop) {
        flex-basis: calc((100% - 90px) / 4);
        margin-right: 30px;
        &:last-child {
        margin-right: 0;
    }
    }
    
    background-color: var(--card-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    
}



.team__list {
    margin-top: 30px;

}

.team__name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 10px;
}

.team__expert {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

}